.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
 .error_header {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .error_footer {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }